<div class="card">
    <div class="card-head">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore sapiente ea vero quae, laboriosam consequuntur ab fuga culpa eos et dolor? Corporis deleniti doloremque inventore facilis provident ratione eum qui?</div>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam veritatis, voluptates at accusantium aliquam sapiente, sed sequi dolorem, quis tempore amet debitis praesentium et nam sit dolorum neque quisquam incidunt?
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, earum deleniti ipsam nihil nemo magni quo veniam magnam necessitatibus dignissimos odio, voluptate natus dolorum unde, veritatis hic quibusdam mollitia quidem?</div>
    <div class="card-body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet voluptatibus rerum nam? Nam ipsa eos esse, animi vitae delectus deleniti ex modi, suscipit quae sint rem quos maiores quas. Inventore.
    </div>
</div>
